.station_label {
    color: #645edf; 
    font-size: 15px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 1.5rem
}

.visibleOverflow {
    overflow: visible
}

.filledData_station {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 15px;
}

.font_fifteen{
    font-size: 15px;
}

.info-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.info-cloud-ft {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-wind {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    font-size: 14px;
}

.info-visibility {
    position: absolute;
    left: 20px;
    top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap; 
    font-size: 14px;
}

.info-altimeter {
    position: absolute;
    left: -20px;
    top: 10px;
    display: flex;
    transform: translateX(-100%);
    flex-direction: row;
    align-items: center;
    white-space: nowrap; 
    font-size: 14px;
}

.info-temperature {
    position: absolute;
    top: 16px;
    left: -9px;
    transform: translateX(-100%) translateY(100%);
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    font-size: 14px;
}

.info-station {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%) translateY(100%);
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    font-size: 14px;
}

.pointer-cursor {
    cursor: pointer;
}

.info-dewPoint {
    position: absolute;
    top: 16px;
    left: 9px;
    transform: translateY(100%);
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    font-size: 14px;
}

.info-outer {
    position: absolute;
    top: 10px;
    left: 20px;
}