<agm-overlay [latitude]="latitude" [longitude]="longitude">
    <div class="flex-column" [attr.data-lat]="latitude" [attr.data-long]="longitude"
        [attr.data-airportCode]="airportCode" [attr.data-airportName]="airportName" style="cursor: pointer"
        appStationMarker [ngStyle]="{'display': markerDisplayValue}">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" style="fill: red" transform="translate(0, 9)">
            <circle cx="9" cy="9" r="6" />
        </svg>
        <span class="station_label">{{ airportCode }}</span>
    </div>
    <div class="info-div" [ngStyle]="{'display': infoDisplayValue}">
        <div class="info-div-inner">
            <div class="info-inner-station" [ngStyle]="{color: flightCategoryColor}">
                {{airportCode}} ({{windSpeedValue}})
            </div>
            <div class="info-inner-observeTime">
                {{observationValue}}
            </div>
            <div class="info-inner-cloudCover">
                <mat-icon [svgIcon]="svgIconSource"></mat-icon>
            </div>
            <div class="info-inner-windMarker">
                <svg width="70" height="70" style="overflow: visible;">
                    <polyline class="info-inner-windMarkerInner" points="-10,-20 0,-35, 0,0 0,-35 10,-20" [ngStyle]="{'transform': transformValue}"/>
                    Sorry, your browser does not support inline SVG.
                </svg>
            </div>
            <div class="info-inner-temperature">
                {{temperatureValue}} / {{dewPointValue}}
            </div>
            <div class="info-inner-visibility d-flex flex-row align-items-center">
                <mat-icon svgIcon="visibility" style="height: 24px; width: 24px"></mat-icon>
                {{visibilityValue}}
            </div>
            <div class="info-inner-altimeter d-flex flex-row align-items-center">
                <mat-icon svgIcon="altimeter" style="height: 24px; width: 24px"></mat-icon>
                {{altimeterValue}}
            </div>
        </div>
    </div>
</agm-overlay>