.form-view {
    background: rgba(255, 255, 255, 0.5); 
    border-radius: 0.5rem; 
    padding: 1rem 0px;
    border: 1px solid #536b83;
}

.recommend_list_item {
    cursor: pointer;
    pointer-events: visible;
    background: transparent;
    border: 1px solid rgb(99, 116, 213)
}

.ul_layer {
    overflow: auto;
    max-height: 150px;
    pointer-events: visible
}

.form_button {
    pointer-events: visible
}

input {    
    outline: none !important;
    box-shadow: none !important;
}

.input-bar {
    font-size: 20px; 
    border: none
}

.btn-circle {
    height: 40px !important;
    width: 40px !important;
    border-radius: 40px !important;
}

ul li {
    border: none;
    cursor: pointer
}

ul li div {
    border-bottom: 2px solid #d3d3d3
}

ul li:nth-last-child(1) div {
    border: none
}

.suggestion-label {
    padding-left: 1.25rem;
    font-size: 20px;
    color: #25519d;
    padding-top: 1rem;
}

.click-visible {
    pointer-events: visible;
}