<div class="form-group container">
  <label class="col-form-label">{{ innerTitleLabel }}</label>
  <div class="d-flex flex-row flex-wrap">
    <div class="col-md-9 p-0 mb-3 mb-md-0">
      <input appSearchLine [(ngModel)]="inputValue" [attr.data-id]="inputType" [ngStyle]="{'display': inputDisplay}" type="text" class="noBoxShadow form_transpbg form_pointerAvailable col-xl-12 form-control border-top-0 border-left-0 border-right-0 rounded-0" (input)="onInput()">
      <div class="form-control border-0 form_transpbg" [ngStyle]="{'display': stationDivDisplay}">{{resultValue}}</div>
    </div>
    <div class="col-md-3">
        <button class="form_pointerAvailable col-12 btn btn-primary" (click)="onResetClick()">Reset</button>
    </div>
  </div>
</div>