<agm-map #AgmMap backgroundColor="#A6D3FC" [latitude]="lat" [longitude]="long" [streetViewControl]="false"
    style="width: 100%; height: 100%" [zoom]="zoomLevel" [minZoom]="3" [maxZoom]="10"
    (zoomChange)="onZoomChange($event)" (mapRightClick)="onRightClickMap($event)">
    <div [ngSwitch]="isAreaFound">
        <div *ngSwitchCase="false">
            <app-map-view-marker *ngFor="let item of stationsData" [latitude]="item.lat" [longitude]="item.long"
                [airportCode]="item.airportCode" [airportName]="item.airportName">
            </app-map-view-marker>
        </div>
        <app-map-view-marker *ngFor="let item of areaStationsData" [latitude]="item.lat" [longitude]="item.long"
            [airportCode]="item.airportCode" [airportName]="item.airportName">
        </app-map-view-marker>
    </div>
    <app-map-view-marker *ngFor="let item of flightResultData" [latitude]="item.lat" [longitude]="item.long"
        [airportCode]="item.airportCode" [airportName]="item.airportName">
    </app-map-view-marker>
    <agm-marker *ngFor="let item of circleBoundingPoints" [latitude]="item.lat" [longitude]="item.long">
    </agm-marker>
</agm-map>
<app-map-zoom-selector class="col-xl-3 bar-wrapper d-flex flex-column mr-2" (zoomMapEvent)="zoomMapEventHandler($event)"
    style="pointer-events: none"></app-map-zoom-selector>
<app-map-option-menu #appMapOptionMenu (changeModeEvent)="updateMode($event)" class="col-xl-5 mt-3 no_pointerEvent"
    style="position: absolute; top: 0; left: 0"></app-map-option-menu>
<app-map-view-spinner appSpinnerLayer class="mapViewSpinner"></app-map-view-spinner>