<div class="col-xl-12 d-flex flex-row pr-0 pl-0">
  <div class="col-8 pb-2 pt-2 pr-0 pl-0" style="background-color: white; pointer-events: visible">
    <div class='pl-4 form-control input-bar' style="height: fit-content">
      Double click on two points of the map to get the area.
      You can move the map and change the size of the area.
    </div>
  </div>
  <div class="col-1 d-flex flex-row justify-content-center align-items-center pl-0 pr-0 pb-2 pt-2"
    style="background: white; pointer-events: visible">
    <div class="col d-flex align-items-center justify-content-center"
      style="height: 100%">
      <div>
        <button class="btn-circle d-flex" (click)="onResetClick()" [ngStyle]="{'visibility': visibilityValue}">
          <mat-icon aria-label="Example icon-button with a heart icon">refresh</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>