<div>
  <div class="p-3" style="background-color: white; pointer-events: visible">
    <app-map-view-flight-airsigmet-detail [isBottom]="false" [airSigmetType]="'AIRMET'" [rectColor]="'#ffff75'">
    </app-map-view-flight-airsigmet-detail>
    <app-map-view-flight-airsigmet-detail [isBottom]="false" class="pb-3" [airSigmetType]="'SIGMET'" [rectColor]="'#ff3b3b'">
    </app-map-view-flight-airsigmet-detail>
    <app-map-view-flight-airsigmet-detail [isBottom]="true" [airSigmetType]="'OUTLOOK'" [rectColor]="'#ffca75'">
    </app-map-view-flight-airsigmet-detail>
  </div>
</div>