<agm-overlay [latitude]="latitude" [longitude]="longitude" zIndex="3">
  <div class="info-div">
    <div style="transform: translateX(-9px) translateY(1px)">
      <mat-icon [svgIcon]="svgIconSource"></mat-icon>
    </div>
    <div style="position: absolute; top: 0px; left: 10px; color: midnightblue">
      <div class="info-inner-windMarker d-flex align-items-center justify-content-center">
        <div class="mr-2 wind-icon-scale" [ngStyle]="{'transform': transformValue}">
          <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14">
            <circle cx="7" cy="7" r="7" stroke="" fill="midnightblue" />
            <line x1="7" y1="7" x2="7" y2="1" style="stroke: white" />
          </svg>
        </div>
        {{windSpeedValue}}
      </div>
      <div class="info-inner-visibility d-flex align-items-center justify-content-center">
        <mat-icon [svgIcon]="'visibility'"></mat-icon>
        {{visibilityValue}}
      </div>
      <div class="info-inner-station">
        {{airportCode}}
      </div>
    </div>
  </div>
</agm-overlay>