.station_label {
    color: #645edf; 
    font-size: 15px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 1.5rem
}

.visibleOverflow {
    overflow: visible
}

.filledData_station {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 15px;
}

.font_fifteen{
    font-size: 15px;
}

.info-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.info-div-inner {
    height: 85px;
    width: 85px; 
    border-radius: 85px; 
    background-color: transparent;
    position: relative;
}

.info-inner-station {
    position: absolute;
    top: 30px;
    left: 50%;
    font-size: 14px;
    transform: translateX(-50%) translateX(3px);
}

.info-inner-observeTime {
    position: absolute;
    top: 105px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    white-space: nowrap;
}

.info-inner-cloudCover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) translateY(12px);
    z-index: 1;
}

.info-inner-windMarker {
    position: absolute;
    top: 13px;
    left: 30px;
    white-space: nowrap;
    font-size: 14px;
}

.info-inner-windMarkerInner {
    fill: none;
    stroke:black;
    stroke-width: 3;
    white-space: nowrap;
}

.info-inner-temperature {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
    font-size: 14px;
    white-space: nowrap;
}

.info-inner-visibility {
    position: absolute;
    top: 12px;
    left: -20px;
    font-size: 14px;
    transform: translateX(-100%);
    white-space: nowrap;
}

.info-inner-altimeter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) translateX(-70px);
    font-size: 14px;
    white-space: nowrap;
}

.wind-icon-scale {
    transform: scale(1.5) !important;
}