/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html {
    height: 100%
}

body {
    height: 100%
}

.appRoot {
    display: flex;
    flex-direction: column;
    height: 100%
}

.input-shadow {
    border: 1px solid #d0d0d0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.23);
}

.map-option-button:focus, .map-option-button:active {
    outline: 0;
}